name: BDR Test

on:
  push:
    branches:
    - test-master
    - test-mergeq
  pull_request:
    types: [opened, reopened]
  # Allow manual triggers of this workflow
  workflow_dispatch:
  workflow_call:
    secrets:
      EDB_SUBSCRIPTION_TOKEN:
        required: true
      TPA_2Q_SUBSCRIPTION_TOKEN:
        required: true
      EDB_REPO_CREDENTIALS:
        required: true
env:
  EDB_SUBSCRIPTION_TOKEN: ${{ secrets.EDB_SUBSCRIPTION_TOKEN }}
  TPA_2Q_SUBSCRIPTION_TOKEN: ${{ secrets.TPA_2Q_SUBSCRIPTION_TOKEN }}
  EDB_REPO_CREDENTIALS: ${{ secrets.EDB_REPO_CREDENTIALS }}
  
jobs:
  bdr-test:
    runs-on: ubuntu-20.04
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Test
      uses: RUNNER_ALLOW_RUNASROOT=1 ./.github/actions/bdr_test
