name: BDR Test

on:
  push:
    branches:
    - test-master
    - test-mergeq
  pull_request:
    types: [opened, reopened]
  # Allow manual triggers of this workflow
  workflow_dispatch:
  workflow_call:
    secrets:
      CLOUDSMITH_API_KEY:
        required: true
      EDB_SUBSCRIPTION_TOKEN:
        required: true
      TPA_2Q_SUBSCRIPTION_TOKEN:
        required: true
      EDB_REPO_CREDENTIALS:
        required: true

jobs:
    bdr-test:
    runs-on: ubuntu-20.04
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Test
      uses: ./containeraction/.github/actions/bdr_test
